body,
html {
  margin: 0;
  color: #212121;
}

nav {
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
}

nav a {
  color: #212121;
}

nav a:hover {
  color: #7D7B6A;
}

nav .icon {display: none;}

.my-link {
  float: left;
  padding: 10px;
}

.bars {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #000;
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 6px);
    transform:         rotate(-45deg) translate(-4px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-2px, -4px);
    transform:         rotate(45deg) translate(-2px, -4px);
}

section {
  height: 100vh;
  border-bottom: 1px solid #e3e3e3;
}

.controls {
  position: fixed;
  top:     10%;
  right:   10px;
  padding: 10px;
  border: 1px solid #212121;
  background: #fff;
  max-height: 85vh;
  overflow: auto;
}

input,
select,
button {
  border-radius: 4px;
  border: 1px solid #212121;
}

h1 {
  margin: 10px;
  color: #212121;
}

.flex {
  display:         flex;
  flex-direction:  column;
  justify-content: center;
}

.flex.row {
  flex-direction: row;
  flex: 1 0 auto;
}

.flex.wrap {flex-wrap: wrap;}

.flex.grow{
  flex-grow: 1;
  overflow:  hidden;
}

@media screen and (max-width: 600px) {

  .my-link::after,
  .my-link::before {background: none;}

  .my-nav a:not(:first-child) {display: none;}
  .my-nav .icon {
    float:   right;
    display: block;
    margin: 10px 10px 8px 10px;
  }

  .my-nav.responsive {position: relative;}
  .my-nav.responsive .icon {
    position: absolute;
    right: 0;
    top:   0;
  }

  .my-nav.responsive a {
    float:   none;
    display: block;
  }
}
